rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /mentors/{mentorId}/{fileName} {
      allow read: if true;
      allow write: if signedIn();
    }

    match /colleges/{slug}/{allPaths=**} {
      allow read: if true;
      allow write: if signedIn();
    }

    match /users/{uid}/{fileName} {
      allow read, write: if signedIn() && request.auth.uid == uid;
    }
  }
}
